* {
    box-sizing: border-box;

}

body {
    font-family: Lato, Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#question {
    font-weight: bold;
}